@font-face {
  font-family: 'azry-icon';
  src:  url('fonts/azry-icon.eot?mqvd0p');
  src:  url('fonts/azry-icon.eot?mqvd0p#iefix') format('embedded-opentype'),
    url('fonts/azry-icon.ttf?mqvd0p') format('truetype'),
    url('fonts/azry-icon.woff?mqvd0p') format('woff'),
    url('fonts/azry-icon.svg?mqvd0p#azry-icon') format('svg');
  font-weight: normal;
  font-style: normal;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'azry-icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.az-aac:before {
  content: "\e903";
}
.az-ace:before {
  content: "\e906";
}
.az-ai:before {
  content: "\e907";
}
.az-aut:before {
  content: "\e908";
}
.az-avi:before {
  content: "\e909";
}
.az-bin:before {
  content: "\e90a";
}
.az-bmp:before {
  content: "\e90b";
}
.az-cad:before {
  content: "\e90c";
}
.az-cdr:before {
  content: "\e90d";
}
.az-css:before {
  content: "\e90e";
}
.az-db:before {
  content: "\e90f";
}
.az-dmg:before {
  content: "\e910";
}
.az-doc:before {
  content: "\e911";
}
.az-docx:before {
  content: "\e912";
}
.az-dwf:before {
  content: "\e913";
}
.az-dwg:before {
  content: "\e914";
}
.az-eps:before {
  content: "\e915";
}
.az-exe:before {
  content: "\e916";
}
.az-flac:before {
  content: "\e917";
}
.az-gif:before {
  content: "\e918";
}
.az-hlp:before {
  content: "\e919";
}
.az-htm:before {
  content: "\e91a";
}
.az-html:before {
  content: "\e91b";
}
.az-ini:before {
  content: "\e91c";
}
.az-iso:before {
  content: "\e91d";
}
.az-java:before {
  content: "\e91e";
}
.az-jpg:before {
  content: "\e91f";
}
.az-js:before {
  content: "\e920";
}
.az-mkv:before {
  content: "\e921";
}
.az-mov:before {
  content: "\e922";
}
.az-mp3:before {
  content: "\e923";
}
.az-mp4:before {
  content: "\e924";
}
.az-mpg:before {
  content: "\e925";
}
.az-pdf:before {
  content: "\e926";
}
.az-php:before {
  content: "\e927";
}
.az-png:before {
  content: "\e928";
}
.az-ppt:before {
  content: "\e929";
}
.az-ps:before {
  content: "\e92a";
}
.az-psd:before {
  content: "\e92b";
}
.az-rar:before {
  content: "\e92c";
}
.az-rss:before {
  content: "\e92d";
}
.az-rtf:before {
  content: "\e92e";
}
.az-svg:before {
  content: "\e92f";
}
.az-swf:before {
  content: "\e930";
}
.az-sys:before {
  content: "\e931";
}
.az-tiff:before {
  content: "\e932";
}
.az-txt:before {
  content: "\e933";
}
.az-xls:before {
  content: "\e934";
}
.az-xlsx:before {
  content: "\e935";
}
.az-zip:before {
  content: "\e936";
}
.az-payment-method:before {
  content: "\e937";
}
.az-shop:before {
  content: "\e938";
}
.az-more:before {
  content: "\e939";
}
.az-spreadsheet:before {
  content: "\e93a";
}
.az-line-graph:before {
  content: "\e93b";
}
.az-gdrive-o:before {
  content: "\e900";
}
.az-gdrive:before {
  content: "\e901";
}
.az-reload-setting:before {
  content: "\e902";
}
.az-multi-window:before {
  content: "\e905";
}
.az-aisara:before {
  content: "\e904";
}
.az-amazed-man:before {
  content: "\e93c";
}
.az-angry-man:before {
  content: "\e93d";
}
.az-angry-woman:before {
  content: "\e93e";
}
.az-baby-crying:before {
  content: "\e93f";
}
.az-baby-love:before {
  content: "\e940";
}
.az-boy-broad-smile:before {
  content: "\e941";
}
.az-boy-happy-smile:before {
  content: "\e942";
}
.az-boy-smiling:before {
  content: "\e943";
}
.az-boy-suffering:before {
  content: "\e944";
}
.az-delighted-granny:before {
  content: "\e945";
}
.az-disappointed-boy:before {
  content: "\e946";
}
.az-embarrased-boy:before {
  content: "\e947";
}
.az-embarrased-girl:before {
  content: "\e948";
}
.az-embarrased-granny:before {
  content: "\e949";
}
.az-emotive-granny:before {
  content: "\e94a";
}
.az-fat-boy-angry:before {
  content: "\e94b";
}
.az-fat-boy-shocked:before {
  content: "\e94c";
}
.az-fat-boy-smiling:before {
  content: "\e94d";
}
.az-fat-boy-sorry:before {
  content: "\e94e";
}
.az-fat-boy:before {
  content: "\e94f";
}
.az-frightened-hipster:before {
  content: "\e950";
}
.az-girl-air-kissing:before {
  content: "\e951";
}
.az-girl-crying:before {
  content: "\e952";
}
.az-girl-embarrased:before {
  content: "\e953";
}
.az-girl-laughing-to-tears:before {
  content: "\e954";
}
.az-girl-showing-tongue:before {
  content: "\e955";
}
.az-girl-smiling:before {
  content: "\e956";
}
.az-girl-with-poker-face:before {
  content: "\e957";
}
.az-happy-baby:before {
  content: "\e958";
}
.az-happy-woman:before {
  content: "\e959";
}
.az-hipster-smiling:before {
  content: "\e95a";
}
.az-hypnotized-hipster:before {
  content: "\e95b";
}
.az-inexpressive-girl:before {
  content: "\e95c";
}
.az-kissing-girl:before {
  content: "\e95d";
}
.az-man-with-moustache-smiling:before {
  content: "\e95e";
}
.az-naughty-girl:before {
  content: "\e95f";
}
.az-perplexed-man:before {
  content: "\e960";
}
.az-philosophizing-boy:before {
  content: "\e961";
}
.az-sad-baby:before {
  content: "\e962";
}
.az-sad-girl:before {
  content: "\e963";
}
.az-sad-hipster:before {
  content: "\e964";
}
.az-sad-woman:before {
  content: "\e965";
}
.az-satisfied-woman:before {
  content: "\e966";
}
.az-shocked-girl:before {
  content: "\e967";
}
.az-sleeping-granny:before {
  content: "\e968";
}
.az-sleepy-boy:before {
  content: "\e969";
}
.az-smiling-baby:before {
  content: "\e96a";
}
.az-smiling-girl:before {
  content: "\e96b";
}
.az-surprised-girl:before {
  content: "\e96c";
}
.az-suspicious-man:before {
  content: "\e96d";
}
.az-teasing-boy:before {
  content: "\e96e";
}
.az-upset-girl:before {
  content: "\e96f";
}
.az-upset-granny:before {
  content: "\e970";
}
.az-winking-boy:before {
  content: "\e971";
}
.az-wondered-hipster:before {
  content: "\e972";
}
.az-plus:before {
  content: "\f067";
}
.az-asterisk:before {
  content: "\f069";
}
.az-question:before {
  content: "\f128";
}
.az-minus:before {
  content: "\f068";
}
.az-glass:before {
  content: "\f000";
}
.az-music:before {
  content: "\f001";
}
.az-search:before {
  content: "\f002";
}
.az-envelope-o:before {
  content: "\f003";
}
.az-heart:before {
  content: "\f004";
}
.az-star:before {
  content: "\f005";
}
.az-star-o:before {
  content: "\f006";
}
.az-user:before {
  content: "\f007";
}
.az-film:before {
  content: "\f008";
}
.az-th-large:before {
  content: "\f009";
}
.az-th:before {
  content: "\f00a";
}
.az-th-list:before {
  content: "\f00b";
}
.az-check:before {
  content: "\f00c";
}
.az-close:before {
  content: "\f00d";
}
.az-remove:before {
  content: "\f00d";
}
.az-times:before {
  content: "\f00d";
}
.az-search-plus:before {
  content: "\f00e";
}
.az-search-minus:before {
  content: "\f010";
}
.az-power-off:before {
  content: "\f011";
}
.az-signal:before {
  content: "\f012";
}
.az-cog:before {
  content: "\f013";
}
.az-gear:before {
  content: "\f013";
}
.az-trash-o:before {
  content: "\f014";
}
.az-home:before {
  content: "\f015";
}
.az-file-o:before {
  content: "\f016";
}
.az-clock-o:before {
  content: "\f017";
}
.az-road:before {
  content: "\f018";
}
.az-download:before {
  content: "\f019";
}
.az-arrow-circle-o-down:before {
  content: "\f01a";
}
.az-arrow-circle-o-up:before {
  content: "\f01b";
}
.az-inbox:before {
  content: "\f01c";
}
.az-play-circle-o:before {
  content: "\f01d";
}
.az-repeat:before {
  content: "\f01e";
}
.az-rotate-right:before {
  content: "\f01e";
}
.az-refresh:before {
  content: "\f021";
}
.az-list-alt:before {
  content: "\f022";
}
.az-lock:before {
  content: "\f023";
}
.az-flag:before {
  content: "\f024";
}
.az-headphones:before {
  content: "\f025";
}
.az-volume-off:before {
  content: "\f026";
}
.az-volume-down:before {
  content: "\f027";
}
.az-volume-up:before {
  content: "\f028";
}
.az-qrcode:before {
  content: "\f029";
}
.az-barcode:before {
  content: "\f02a";
}
.az-tag:before {
  content: "\f02b";
}
.az-tags:before {
  content: "\f02c";
}
.az-book:before {
  content: "\f02d";
}
.az-bookmark:before {
  content: "\f02e";
}
.az-print:before {
  content: "\f02f";
}
.az-camera:before {
  content: "\f030";
}
.az-font:before {
  content: "\f031";
}
.az-bold:before {
  content: "\f032";
}
.az-italic:before {
  content: "\f033";
}
.az-text-height:before {
  content: "\f034";
}
.az-text-width:before {
  content: "\f035";
}
.az-align-left:before {
  content: "\f036";
}
.az-align-center:before {
  content: "\f037";
}
.az-align-right:before {
  content: "\f038";
}
.az-align-justify:before {
  content: "\f039";
}
.az-list:before {
  content: "\f03a";
}
.az-dedent:before {
  content: "\f03b";
}
.az-outdent:before {
  content: "\f03b";
}
.az-indent:before {
  content: "\f03c";
}
.az-video-camera:before {
  content: "\f03d";
}
.az-image:before {
  content: "\f03e";
}
.az-photo:before {
  content: "\f03e";
}
.az-picture-o:before {
  content: "\f03e";
}
.az-pencil:before {
  content: "\f040";
}
.az-map-marker:before {
  content: "\f041";
}
.az-adjust:before {
  content: "\f042";
}
.az-tint:before {
  content: "\f043";
}
.az-edit:before {
  content: "\f044";
}
.az-pencil-square-o:before {
  content: "\f044";
}
.az-share-square-o:before {
  content: "\f045";
}
.az-check-square-o:before {
  content: "\f046";
}
.az-arrows:before {
  content: "\f047";
}
.az-step-backward:before {
  content: "\f048";
}
.az-fast-backward:before {
  content: "\f049";
}
.az-backward:before {
  content: "\f04a";
}
.az-play:before {
  content: "\f04b";
}
.az-pause:before {
  content: "\f04c";
}
.az-stop:before {
  content: "\f04d";
}
.az-forward:before {
  content: "\f04e";
}
.az-fast-forward:before {
  content: "\f050";
}
.az-step-forward:before {
  content: "\f051";
}
.az-eject:before {
  content: "\f052";
}
.az-chevron-left:before {
  content: "\f053";
}
.az-chevron-right:before {
  content: "\f054";
}
.az-plus-circle:before {
  content: "\f055";
}
.az-minus-circle:before {
  content: "\f056";
}
.az-times-circle:before {
  content: "\f057";
}
.az-check-circle:before {
  content: "\f058";
}
.az-question-circle:before {
  content: "\f059";
}
.az-info-circle:before {
  content: "\f05a";
}
.az-crosshairs:before {
  content: "\f05b";
}
.az-times-circle-o:before {
  content: "\f05c";
}
.az-check-circle-o:before {
  content: "\f05d";
}
.az-ban:before {
  content: "\f05e";
}
.az-arrow-left:before {
  content: "\f060";
}
.az-arrow-right:before {
  content: "\f061";
}
.az-arrow-up:before {
  content: "\f062";
}
.az-arrow-down:before {
  content: "\f063";
}
.az-mail-forward:before {
  content: "\f064";
}
.az-share:before {
  content: "\f064";
}
.az-expand:before {
  content: "\f065";
}
.az-compress:before {
  content: "\f066";
}
.az-exclamation-circle:before {
  content: "\f06a";
}
.az-gift:before {
  content: "\f06b";
}
.az-leaf:before {
  content: "\f06c";
}
.az-fire:before {
  content: "\f06d";
}
.az-eye:before {
  content: "\f06e";
}
.az-eye-slash:before {
  content: "\f070";
}
.az-exclamation-triangle:before {
  content: "\f071";
}
.az-warning:before {
  content: "\f071";
}
.az-plane:before {
  content: "\f072";
}
.az-calendar:before {
  content: "\f073";
}
.az-random:before {
  content: "\f074";
}
.az-comment:before {
  content: "\f075";
}
.az-magnet:before {
  content: "\f076";
}
.az-chevron-up:before {
  content: "\f077";
}
.az-chevron-down:before {
  content: "\f078";
}
.az-retweet:before {
  content: "\f079";
}
.az-shopping-cart:before {
  content: "\f07a";
}
.az-folder:before {
  content: "\f07b";
}
.az-folder-open:before {
  content: "\f07c";
}
.az-arrows-v:before {
  content: "\f07d";
}
.az-arrows-h:before {
  content: "\f07e";
}
.az-bar-chart:before {
  content: "\f080";
}
.az-bar-chart-o:before {
  content: "\f080";
}
.az-twitter-square:before {
  content: "\f081";
}
.az-facebook-square:before {
  content: "\f082";
}
.az-camera-retro:before {
  content: "\f083";
}
.az-key:before {
  content: "\f084";
}
.az-cogs:before {
  content: "\f085";
}
.az-gears:before {
  content: "\f085";
}
.az-comments:before {
  content: "\f086";
}
.az-thumbs-o-up:before {
  content: "\f087";
}
.az-thumbs-o-down:before {
  content: "\f088";
}
.az-star-half:before {
  content: "\f089";
}
.az-heart-o:before {
  content: "\f08a";
}
.az-sign-out:before {
  content: "\f08b";
}
.az-linkedin-square:before {
  content: "\f08c";
}
.az-thumb-tack:before {
  content: "\f08d";
}
.az-external-link:before {
  content: "\f08e";
}
.az-sign-in:before {
  content: "\f090";
}
.az-trophy:before {
  content: "\f091";
}
.az-github-square:before {
  content: "\f092";
}
.az-upload:before {
  content: "\f093";
}
.az-lemon-o:before {
  content: "\f094";
}
.az-phone:before {
  content: "\f095";
}
.az-square-o:before {
  content: "\f096";
}
.az-bookmark-o:before {
  content: "\f097";
}
.az-phone-square:before {
  content: "\f098";
}
.az-twitter:before {
  content: "\f099";
}
.az-facebook:before {
  content: "\f09a";
}
.az-facebook-f:before {
  content: "\f09a";
}
.az-github:before {
  content: "\f09b";
}
.az-unlock:before {
  content: "\f09c";
}
.az-credit-card:before {
  content: "\f09d";
}
.az-feed:before {
  content: "\f09e";
}
.az-rss1:before {
  content: "\f09e";
}
.az-hdd-o:before {
  content: "\f0a0";
}
.az-bullhorn:before {
  content: "\f0a1";
}
.az-bell-o:before {
  content: "\f0a2";
}
.az-certificate:before {
  content: "\f0a3";
}
.az-hand-o-right:before {
  content: "\f0a4";
}
.az-hand-o-left:before {
  content: "\f0a5";
}
.az-hand-o-up:before {
  content: "\f0a6";
}
.az-hand-o-down:before {
  content: "\f0a7";
}
.az-arrow-circle-left:before {
  content: "\f0a8";
}
.az-arrow-circle-right:before {
  content: "\f0a9";
}
.az-arrow-circle-up:before {
  content: "\f0aa";
}
.az-arrow-circle-down:before {
  content: "\f0ab";
}
.az-globe:before {
  content: "\f0ac";
}
.az-wrench:before {
  content: "\f0ad";
}
.az-tasks:before {
  content: "\f0ae";
}
.az-filter:before {
  content: "\f0b0";
}
.az-briefcase:before {
  content: "\f0b1";
}
.az-arrows-alt:before {
  content: "\f0b2";
}
.az-group:before {
  content: "\f0c0";
}
.az-users:before {
  content: "\f0c0";
}
.az-chain:before {
  content: "\f0c1";
}
.az-link:before {
  content: "\f0c1";
}
.az-cloud:before {
  content: "\f0c2";
}
.az-flask:before {
  content: "\f0c3";
}
.az-cut:before {
  content: "\f0c4";
}
.az-scissors:before {
  content: "\f0c4";
}
.az-copy:before {
  content: "\f0c5";
}
.az-files-o:before {
  content: "\f0c5";
}
.az-paperclip:before {
  content: "\f0c6";
}
.az-floppy-o:before {
  content: "\f0c7";
}
.az-save:before {
  content: "\f0c7";
}
.az-square:before {
  content: "\f0c8";
}
.az-bars:before {
  content: "\f0c9";
}
.az-navicon:before {
  content: "\f0c9";
}
.az-reorder:before {
  content: "\f0c9";
}
.az-list-ul:before {
  content: "\f0ca";
}
.az-list-ol:before {
  content: "\f0cb";
}
.az-strikethrough:before {
  content: "\f0cc";
}
.az-underline:before {
  content: "\f0cd";
}
.az-table:before {
  content: "\f0ce";
}
.az-magic:before {
  content: "\f0d0";
}
.az-truck:before {
  content: "\f0d1";
}
.az-pinterest:before {
  content: "\f0d2";
}
.az-pinterest-square:before {
  content: "\f0d3";
}
.az-google-plus-square:before {
  content: "\f0d4";
}
.az-google-plus:before {
  content: "\f0d5";
}
.az-money:before {
  content: "\f0d6";
}
.az-caret-down:before {
  content: "\f0d7";
}
.az-caret-up:before {
  content: "\f0d8";
}
.az-caret-left:before {
  content: "\f0d9";
}
.az-caret-right:before {
  content: "\f0da";
}
.az-columns:before {
  content: "\f0db";
}
.az-sort:before {
  content: "\f0dc";
}
.az-unsorted:before {
  content: "\f0dc";
}
.az-sort-desc:before {
  content: "\f0dd";
}
.az-sort-down:before {
  content: "\f0dd";
}
.az-sort-asc:before {
  content: "\f0de";
}
.az-sort-up:before {
  content: "\f0de";
}
.az-envelope:before {
  content: "\f0e0";
}
.az-linkedin:before {
  content: "\f0e1";
}
.az-rotate-left:before {
  content: "\f0e2";
}
.az-undo:before {
  content: "\f0e2";
}
.az-gavel:before {
  content: "\f0e3";
}
.az-legal:before {
  content: "\f0e3";
}
.az-dashboard:before {
  content: "\f0e4";
}
.az-tachometer:before {
  content: "\f0e4";
}
.az-comment-o:before {
  content: "\f0e5";
}
.az-comments-o:before {
  content: "\f0e6";
}
.az-bolt:before {
  content: "\f0e7";
}
.az-flash:before {
  content: "\f0e7";
}
.az-sitemap:before {
  content: "\f0e8";
}
.az-umbrella:before {
  content: "\f0e9";
}
.az-clipboard:before {
  content: "\f0ea";
}
.az-paste:before {
  content: "\f0ea";
}
.az-lightbulb-o:before {
  content: "\f0eb";
}
.az-exchange:before {
  content: "\f0ec";
}
.az-cloud-download:before {
  content: "\f0ed";
}
.az-cloud-upload:before {
  content: "\f0ee";
}
.az-user-md:before {
  content: "\f0f0";
}
.az-stethoscope:before {
  content: "\f0f1";
}
.az-suitcase:before {
  content: "\f0f2";
}
.az-bell:before {
  content: "\f0f3";
}
.az-coffee:before {
  content: "\f0f4";
}
.az-cutlery:before {
  content: "\f0f5";
}
.az-file-text-o:before {
  content: "\f0f6";
}
.az-building-o:before {
  content: "\f0f7";
}
.az-hospital-o:before {
  content: "\f0f8";
}
.az-ambulance:before {
  content: "\f0f9";
}
.az-medkit:before {
  content: "\f0fa";
}
.az-fighter-jet:before {
  content: "\f0fb";
}
.az-beer:before {
  content: "\f0fc";
}
.az-h-square:before {
  content: "\f0fd";
}
.az-plus-square:before {
  content: "\f0fe";
}
.az-angle-double-left:before {
  content: "\f100";
}
.az-angle-double-right:before {
  content: "\f101";
}
.az-angle-double-up:before {
  content: "\f102";
}
.az-angle-double-down:before {
  content: "\f103";
}
.az-angle-left:before {
  content: "\f104";
}
.az-angle-right:before {
  content: "\f105";
}
.az-angle-up:before {
  content: "\f106";
}
.az-angle-down:before {
  content: "\f107";
}
.az-desktop:before {
  content: "\f108";
}
.az-laptop:before {
  content: "\f109";
}
.az-tablet:before {
  content: "\f10a";
}
.az-mobile:before {
  content: "\f10b";
}
.az-mobile-phone:before {
  content: "\f10b";
}
.az-circle-o:before {
  content: "\f10c";
}
.az-quote-left:before {
  content: "\f10d";
}
.az-quote-right:before {
  content: "\f10e";
}
.az-spinner:before {
  content: "\f110";
}
.az-circle:before {
  content: "\f111";
}
.az-mail-reply:before {
  content: "\f112";
}
.az-reply:before {
  content: "\f112";
}
.az-github-alt:before {
  content: "\f113";
}
.az-folder-o:before {
  content: "\f114";
}
.az-folder-open-o:before {
  content: "\f115";
}
.az-smile-o:before {
  content: "\f118";
}
.az-frown-o:before {
  content: "\f119";
}
.az-meh-o:before {
  content: "\f11a";
}
.az-gamepad:before {
  content: "\f11b";
}
.az-keyboard-o:before {
  content: "\f11c";
}
.az-flag-o:before {
  content: "\f11d";
}
.az-flag-checkered:before {
  content: "\f11e";
}
.az-terminal:before {
  content: "\f120";
}
.az-code:before {
  content: "\f121";
}
.az-mail-reply-all:before {
  content: "\f122";
}
.az-reply-all:before {
  content: "\f122";
}
.az-star-half-empty:before {
  content: "\f123";
}
.az-star-half-full:before {
  content: "\f123";
}
.az-star-half-o:before {
  content: "\f123";
}
.az-location-arrow:before {
  content: "\f124";
}
.az-crop:before {
  content: "\f125";
}
.az-code-fork:before {
  content: "\f126";
}
.az-chain-broken:before {
  content: "\f127";
}
.az-unlink:before {
  content: "\f127";
}
.az-info:before {
  content: "\f129";
}
.az-exclamation:before {
  content: "\f12a";
}
.az-superscript:before {
  content: "\f12b";
}
.az-subscript:before {
  content: "\f12c";
}
.az-eraser:before {
  content: "\f12d";
}
.az-puzzle-piece:before {
  content: "\f12e";
}
.az-microphone:before {
  content: "\f130";
}
.az-microphone-slash:before {
  content: "\f131";
}
.az-shield:before {
  content: "\f132";
}
.az-calendar-o:before {
  content: "\f133";
}
.az-fire-extinguisher:before {
  content: "\f134";
}
.az-rocket:before {
  content: "\f135";
}
.az-maxcdn:before {
  content: "\f136";
}
.az-chevron-circle-left:before {
  content: "\f137";
}
.az-chevron-circle-right:before {
  content: "\f138";
}
.az-chevron-circle-up:before {
  content: "\f139";
}
.az-chevron-circle-down:before {
  content: "\f13a";
}
.az-html5:before {
  content: "\f13b";
}
.az-css3:before {
  content: "\f13c";
}
.az-anchor:before {
  content: "\f13d";
}
.az-unlock-alt:before {
  content: "\f13e";
}
.az-bullseye:before {
  content: "\f140";
}
.az-ellipsis-h:before {
  content: "\f141";
}
.az-ellipsis-v:before {
  content: "\f142";
}
.az-rss-square:before {
  content: "\f143";
}
.az-play-circle:before {
  content: "\f144";
}
.az-ticket:before {
  content: "\f145";
}
.az-minus-square:before {
  content: "\f146";
}
.az-minus-square-o:before {
  content: "\f147";
}
.az-level-up:before {
  content: "\f148";
}
.az-level-down:before {
  content: "\f149";
}
.az-check-square:before {
  content: "\f14a";
}
.az-pencil-square:before {
  content: "\f14b";
}
.az-external-link-square:before {
  content: "\f14c";
}
.az-share-square:before {
  content: "\f14d";
}
.az-compass:before {
  content: "\f14e";
}
.az-caret-square-o-down:before {
  content: "\f150";
}
.az-toggle-down:before {
  content: "\f150";
}
.az-caret-square-o-up:before {
  content: "\f151";
}
.az-toggle-up:before {
  content: "\f151";
}
.az-caret-square-o-right:before {
  content: "\f152";
}
.az-toggle-right:before {
  content: "\f152";
}
.az-eur:before {
  content: "\f153";
}
.az-euro:before {
  content: "\f153";
}
.az-gbp:before {
  content: "\f154";
}
.az-dollar:before {
  content: "\f155";
}
.az-usd:before {
  content: "\f155";
}
.az-inr:before {
  content: "\f156";
}
.az-rupee:before {
  content: "\f156";
}
.az-cny:before {
  content: "\f157";
}
.az-jpy:before {
  content: "\f157";
}
.az-rmb:before {
  content: "\f157";
}
.az-yen:before {
  content: "\f157";
}
.az-rouble:before {
  content: "\f158";
}
.az-rub:before {
  content: "\f158";
}
.az-ruble:before {
  content: "\f158";
}
.az-krw:before {
  content: "\f159";
}
.az-won:before {
  content: "\f159";
}
.az-bitcoin:before {
  content: "\f15a";
}
.az-btc:before {
  content: "\f15a";
}
.az-file:before {
  content: "\f15b";
}
.az-file-text:before {
  content: "\f15c";
}
.az-sort-alpha-asc:before {
  content: "\f15d";
}
.az-sort-alpha-desc:before {
  content: "\f15e";
}
.az-sort-amount-asc:before {
  content: "\f160";
}
.az-sort-amount-desc:before {
  content: "\f161";
}
.az-sort-numeric-asc:before {
  content: "\f162";
}
.az-sort-numeric-desc:before {
  content: "\f163";
}
.az-thumbs-up:before {
  content: "\f164";
}
.az-thumbs-down:before {
  content: "\f165";
}
.az-youtube-square:before {
  content: "\f166";
}
.az-youtube:before {
  content: "\f167";
}
.az-xing:before {
  content: "\f168";
}
.az-xing-square:before {
  content: "\f169";
}
.az-youtube-play:before {
  content: "\f16a";
}
.az-dropbox:before {
  content: "\f16b";
}
.az-stack-overflow:before {
  content: "\f16c";
}
.az-instagram:before {
  content: "\f16d";
}
.az-flickr:before {
  content: "\f16e";
}
.az-adn:before {
  content: "\f170";
}
.az-bitbucket:before {
  content: "\f171";
}
.az-bitbucket-square:before {
  content: "\f172";
}
.az-tumblr:before {
  content: "\f173";
}
.az-tumblr-square:before {
  content: "\f174";
}
.az-long-arrow-down:before {
  content: "\f175";
}
.az-long-arrow-up:before {
  content: "\f176";
}
.az-long-arrow-left:before {
  content: "\f177";
}
.az-long-arrow-right:before {
  content: "\f178";
}
.az-apple:before {
  content: "\f179";
}
.az-windows:before {
  content: "\f17a";
}
.az-android:before {
  content: "\f17b";
}
.az-linux:before {
  content: "\f17c";
}
.az-dribbble:before {
  content: "\f17d";
}
.az-skype:before {
  content: "\f17e";
}
.az-foursquare:before {
  content: "\f180";
}
.az-trello:before {
  content: "\f181";
}
.az-female:before {
  content: "\f182";
}
.az-male:before {
  content: "\f183";
}
.az-gittip:before {
  content: "\f184";
}
.az-gratipay:before {
  content: "\f184";
}
.az-sun-o:before {
  content: "\f185";
}
.az-moon-o:before {
  content: "\f186";
}
.az-archive:before {
  content: "\f187";
}
.az-bug:before {
  content: "\f188";
}
.az-vk:before {
  content: "\f189";
}
.az-weibo:before {
  content: "\f18a";
}
.az-renren:before {
  content: "\f18b";
}
.az-pagelines:before {
  content: "\f18c";
}
.az-stack-exchange:before {
  content: "\f18d";
}
.az-arrow-circle-o-right:before {
  content: "\f18e";
}
.az-arrow-circle-o-left:before {
  content: "\f190";
}
.az-caret-square-o-left:before {
  content: "\f191";
}
.az-toggle-left:before {
  content: "\f191";
}
.az-dot-circle-o:before {
  content: "\f192";
}
.az-wheelchair:before {
  content: "\f193";
}
.az-vimeo-square:before {
  content: "\f194";
}
.az-try:before {
  content: "\f195";
}
.az-turkish-lira:before {
  content: "\f195";
}
.az-plus-square-o:before {
  content: "\f196";
}
.az-space-shuttle:before {
  content: "\f197";
}
.az-slack:before {
  content: "\f198";
}
.az-envelope-square:before {
  content: "\f199";
}
.az-wordpress:before {
  content: "\f19a";
}
.az-openid:before {
  content: "\f19b";
}
.az-bank:before {
  content: "\f19c";
}
.az-institution:before {
  content: "\f19c";
}
.az-university:before {
  content: "\f19c";
}
.az-graduation-cap:before {
  content: "\f19d";
}
.az-mortar-board:before {
  content: "\f19d";
}
.az-yahoo:before {
  content: "\f19e";
}
.az-google:before {
  content: "\f1a0";
}
.az-reddit:before {
  content: "\f1a1";
}
.az-reddit-square:before {
  content: "\f1a2";
}
.az-stumbleupon-circle:before {
  content: "\f1a3";
}
.az-stumbleupon:before {
  content: "\f1a4";
}
.az-delicious:before {
  content: "\f1a5";
}
.az-digg:before {
  content: "\f1a6";
}
.az-pied-piper-pp:before {
  content: "\f1a7";
}
.az-pied-piper-alt:before {
  content: "\f1a8";
}
.az-drupal:before {
  content: "\f1a9";
}
.az-joomla:before {
  content: "\f1aa";
}
.az-language:before {
  content: "\f1ab";
}
.az-fax:before {
  content: "\f1ac";
}
.az-building:before {
  content: "\f1ad";
}
.az-child:before {
  content: "\f1ae";
}
.az-paw:before {
  content: "\f1b0";
}
.az-spoon:before {
  content: "\f1b1";
}
.az-cube:before {
  content: "\f1b2";
}
.az-cubes:before {
  content: "\f1b3";
}
.az-behance:before {
  content: "\f1b4";
}
.az-behance-square:before {
  content: "\f1b5";
}
.az-steam:before {
  content: "\f1b6";
}
.az-steam-square:before {
  content: "\f1b7";
}
.az-recycle:before {
  content: "\f1b8";
}
.az-automobile:before {
  content: "\f1b9";
}
.az-car:before {
  content: "\f1b9";
}
.az-cab:before {
  content: "\f1ba";
}
.az-taxi:before {
  content: "\f1ba";
}
.az-tree:before {
  content: "\f1bb";
}
.az-spotify:before {
  content: "\f1bc";
}
.az-deviantart:before {
  content: "\f1bd";
}
.az-soundcloud:before {
  content: "\f1be";
}
.az-database:before {
  content: "\f1c0";
}
.az-file-pdf-o:before {
  content: "\f1c1";
}
.az-file-word-o:before {
  content: "\f1c2";
}
.az-file-excel-o:before {
  content: "\f1c3";
}
.az-file-powerpoint-o:before {
  content: "\f1c4";
}
.az-file-image-o:before {
  content: "\f1c5";
}
.az-file-photo-o:before {
  content: "\f1c5";
}
.az-file-picture-o:before {
  content: "\f1c5";
}
.az-file-archive-o:before {
  content: "\f1c6";
}
.az-file-zip-o:before {
  content: "\f1c6";
}
.az-file-audio-o:before {
  content: "\f1c7";
}
.az-file-sound-o:before {
  content: "\f1c7";
}
.az-file-movie-o:before {
  content: "\f1c8";
}
.az-file-video-o:before {
  content: "\f1c8";
}
.az-file-code-o:before {
  content: "\f1c9";
}
.az-vine:before {
  content: "\f1ca";
}
.az-codepen:before {
  content: "\f1cb";
}
.az-jsfiddle:before {
  content: "\f1cc";
}
.az-life-bouy:before {
  content: "\f1cd";
}
.az-life-buoy:before {
  content: "\f1cd";
}
.az-life-ring:before {
  content: "\f1cd";
}
.az-life-saver:before {
  content: "\f1cd";
}
.az-support:before {
  content: "\f1cd";
}
.az-circle-o-notch:before {
  content: "\f1ce";
}
.az-ra:before {
  content: "\f1d0";
}
.az-rebel:before {
  content: "\f1d0";
}
.az-resistance:before {
  content: "\f1d0";
}
.az-empire:before {
  content: "\f1d1";
}
.az-ge:before {
  content: "\f1d1";
}
.az-git-square:before {
  content: "\f1d2";
}
.az-git:before {
  content: "\f1d3";
}
.az-hacker-news:before {
  content: "\f1d4";
}
.az-y-combinator-square:before {
  content: "\f1d4";
}
.az-yc-square:before {
  content: "\f1d4";
}
.az-tencent-weibo:before {
  content: "\f1d5";
}
.az-qq:before {
  content: "\f1d6";
}
.az-wechat:before {
  content: "\f1d7";
}
.az-weixin:before {
  content: "\f1d7";
}
.az-paper-plane:before {
  content: "\f1d8";
}
.az-send:before {
  content: "\f1d8";
}
.az-paper-plane-o:before {
  content: "\f1d9";
}
.az-send-o:before {
  content: "\f1d9";
}
.az-history:before {
  content: "\f1da";
}
.az-circle-thin:before {
  content: "\f1db";
}
.az-header:before {
  content: "\f1dc";
}
.az-paragraph:before {
  content: "\f1dd";
}
.az-sliders:before {
  content: "\f1de";
}
.az-share-alt:before {
  content: "\f1e0";
}
.az-share-alt-square:before {
  content: "\f1e1";
}
.az-bomb:before {
  content: "\f1e2";
}
.az-futbol-o:before {
  content: "\f1e3";
}
.az-soccer-ball-o:before {
  content: "\f1e3";
}
.az-tty:before {
  content: "\f1e4";
}
.az-binoculars:before {
  content: "\f1e5";
}
.az-plug:before {
  content: "\f1e6";
}
.az-slideshare:before {
  content: "\f1e7";
}
.az-twitch:before {
  content: "\f1e8";
}
.az-yelp:before {
  content: "\f1e9";
}
.az-newspaper-o:before {
  content: "\f1ea";
}
.az-wifi:before {
  content: "\f1eb";
}
.az-calculator:before {
  content: "\f1ec";
}
.az-paypal:before {
  content: "\f1ed";
}
.az-google-wallet:before {
  content: "\f1ee";
}
.az-cc-visa:before {
  content: "\f1f0";
}
.az-cc-mastercard:before {
  content: "\f1f1";
}
.az-cc-discover:before {
  content: "\f1f2";
}
.az-cc-amex:before {
  content: "\f1f3";
}
.az-cc-paypal:before {
  content: "\f1f4";
}
.az-cc-stripe:before {
  content: "\f1f5";
}
.az-bell-slash:before {
  content: "\f1f6";
}
.az-bell-slash-o:before {
  content: "\f1f7";
}
.az-trash:before {
  content: "\f1f8";
}
.az-copyright:before {
  content: "\f1f9";
}
.az-at:before {
  content: "\f1fa";
}
.az-eyedropper:before {
  content: "\f1fb";
}
.az-paint-brush:before {
  content: "\f1fc";
}
.az-birthday-cake:before {
  content: "\f1fd";
}
.az-area-chart:before {
  content: "\f1fe";
}
.az-pie-chart:before {
  content: "\f200";
}
.az-line-chart:before {
  content: "\f201";
}
.az-lastfm:before {
  content: "\f202";
}
.az-lastfm-square:before {
  content: "\f203";
}
.az-toggle-off:before {
  content: "\f204";
}
.az-toggle-on:before {
  content: "\f205";
}
.az-bicycle:before {
  content: "\f206";
}
.az-bus:before {
  content: "\f207";
}
.az-ioxhost:before {
  content: "\f208";
}
.az-angellist:before {
  content: "\f209";
}
.az-cc:before {
  content: "\f20a";
}
.az-ils:before {
  content: "\f20b";
}
.az-shekel:before {
  content: "\f20b";
}
.az-sheqel:before {
  content: "\f20b";
}
.az-meanpath:before {
  content: "\f20c";
}
.az-buysellads:before {
  content: "\f20d";
}
.az-connectdevelop:before {
  content: "\f20e";
}
.az-dashcube:before {
  content: "\f210";
}
.az-forumbee:before {
  content: "\f211";
}
.az-leanpub:before {
  content: "\f212";
}
.az-sellsy:before {
  content: "\f213";
}
.az-shirtsinbulk:before {
  content: "\f214";
}
.az-simplybuilt:before {
  content: "\f215";
}
.az-skyatlas:before {
  content: "\f216";
}
.az-cart-plus:before {
  content: "\f217";
}
.az-cart-arrow-down:before {
  content: "\f218";
}
.az-diamond:before {
  content: "\f219";
}
.az-ship:before {
  content: "\f21a";
}
.az-user-secret:before {
  content: "\f21b";
}
.az-motorcycle:before {
  content: "\f21c";
}
.az-street-view:before {
  content: "\f21d";
}
.az-heartbeat:before {
  content: "\f21e";
}
.az-venus:before {
  content: "\f221";
}
.az-mars:before {
  content: "\f222";
}
.az-mercury:before {
  content: "\f223";
}
.az-intersex:before {
  content: "\f224";
}
.az-transgender:before {
  content: "\f224";
}
.az-transgender-alt:before {
  content: "\f225";
}
.az-venus-double:before {
  content: "\f226";
}
.az-mars-double:before {
  content: "\f227";
}
.az-venus-mars:before {
  content: "\f228";
}
.az-mars-stroke:before {
  content: "\f229";
}
.az-mars-stroke-v:before {
  content: "\f22a";
}
.az-mars-stroke-h:before {
  content: "\f22b";
}
.az-neuter:before {
  content: "\f22c";
}
.az-genderless:before {
  content: "\f22d";
}
.az-facebook-official:before {
  content: "\f230";
}
.az-pinterest-p:before {
  content: "\f231";
}
.az-whatsapp:before {
  content: "\f232";
}
.az-server:before {
  content: "\f233";
}
.az-user-plus:before {
  content: "\f234";
}
.az-user-times:before {
  content: "\f235";
}
.az-bed:before {
  content: "\f236";
}
.az-hotel:before {
  content: "\f236";
}
.az-viacoin:before {
  content: "\f237";
}
.az-train:before {
  content: "\f238";
}
.az-subway:before {
  content: "\f239";
}
.az-medium:before {
  content: "\f23a";
}
.az-y-combinator:before {
  content: "\f23b";
}
.az-yc:before {
  content: "\f23b";
}
.az-optin-monster:before {
  content: "\f23c";
}
.az-opencart:before {
  content: "\f23d";
}
.az-expeditedssl:before {
  content: "\f23e";
}
.az-battery:before {
  content: "\f240";
}
.az-battery-4:before {
  content: "\f240";
}
.az-battery-full:before {
  content: "\f240";
}
.az-battery-3:before {
  content: "\f241";
}
.az-battery-three-quarters:before {
  content: "\f241";
}
.az-battery-2:before {
  content: "\f242";
}
.az-battery-half:before {
  content: "\f242";
}
.az-battery-1:before {
  content: "\f243";
}
.az-battery-quarter:before {
  content: "\f243";
}
.az-battery-0:before {
  content: "\f244";
}
.az-battery-empty:before {
  content: "\f244";
}
.az-mouse-pointer:before {
  content: "\f245";
}
.az-i-cursor:before {
  content: "\f246";
}
.az-object-group:before {
  content: "\f247";
}
.az-object-ungroup:before {
  content: "\f248";
}
.az-sticky-note:before {
  content: "\f249";
}
.az-sticky-note-o:before {
  content: "\f24a";
}
.az-cc-jcb:before {
  content: "\f24b";
}
.az-cc-diners-club:before {
  content: "\f24c";
}
.az-clone:before {
  content: "\f24d";
}
.az-balance-scale:before {
  content: "\f24e";
}
.az-hourglass-o:before {
  content: "\f250";
}
.az-hourglass-1:before {
  content: "\f251";
}
.az-hourglass-start:before {
  content: "\f251";
}
.az-hourglass-2:before {
  content: "\f252";
}
.az-hourglass-half:before {
  content: "\f252";
}
.az-hourglass-3:before {
  content: "\f253";
}
.az-hourglass-end:before {
  content: "\f253";
}
.az-hourglass:before {
  content: "\f254";
}
.az-hand-grab-o:before {
  content: "\f255";
}
.az-hand-rock-o:before {
  content: "\f255";
}
.az-hand-paper-o:before {
  content: "\f256";
}
.az-hand-stop-o:before {
  content: "\f256";
}
.az-hand-scissors-o:before {
  content: "\f257";
}
.az-hand-lizard-o:before {
  content: "\f258";
}
.az-hand-spock-o:before {
  content: "\f259";
}
.az-hand-pointer-o:before {
  content: "\f25a";
}
.az-hand-peace-o:before {
  content: "\f25b";
}
.az-trademark:before {
  content: "\f25c";
}
.az-registered:before {
  content: "\f25d";
}
.az-creative-commons:before {
  content: "\f25e";
}
.az-gg:before {
  content: "\f260";
}
.az-gg-circle:before {
  content: "\f261";
}
.az-tripadvisor:before {
  content: "\f262";
}
.az-odnoklassniki:before {
  content: "\f263";
}
.az-odnoklassniki-square:before {
  content: "\f264";
}
.az-get-pocket:before {
  content: "\f265";
}
.az-wikipedia-w:before {
  content: "\f266";
}
.az-safari:before {
  content: "\f267";
}
.az-chrome:before {
  content: "\f268";
}
.az-firefox:before {
  content: "\f269";
}
.az-opera:before {
  content: "\f26a";
}
.az-internet-explorer:before {
  content: "\f26b";
}
.az-television:before {
  content: "\f26c";
}
.az-tv:before {
  content: "\f26c";
}
.az-contao:before {
  content: "\f26d";
}
.az-500px:before {
  content: "\f26e";
}
.az-amazon:before {
  content: "\f270";
}
.az-calendar-plus-o:before {
  content: "\f271";
}
.az-calendar-minus-o:before {
  content: "\f272";
}
.az-calendar-times-o:before {
  content: "\f273";
}
.az-calendar-check-o:before {
  content: "\f274";
}
.az-industry:before {
  content: "\f275";
}
.az-map-pin:before {
  content: "\f276";
}
.az-map-signs:before {
  content: "\f277";
}
.az-map-o:before {
  content: "\f278";
}
.az-map:before {
  content: "\f279";
}
.az-commenting:before {
  content: "\f27a";
}
.az-commenting-o:before {
  content: "\f27b";
}
.az-houzz:before {
  content: "\f27c";
}
.az-vimeo:before {
  content: "\f27d";
}
.az-black-tie:before {
  content: "\f27e";
}
.az-fonticons:before {
  content: "\f280";
}
.az-reddit-alien:before {
  content: "\f281";
}
.az-edge:before {
  content: "\f282";
}
.az-credit-card-alt:before {
  content: "\f283";
}
.az-codiepie:before {
  content: "\f284";
}
.az-modx:before {
  content: "\f285";
}
.az-fort-awesome:before {
  content: "\f286";
}
.az-usb:before {
  content: "\f287";
}
.az-product-hunt:before {
  content: "\f288";
}
.az-mixcloud:before {
  content: "\f289";
}
.az-scribd:before {
  content: "\f28a";
}
.az-pause-circle:before {
  content: "\f28b";
}
.az-pause-circle-o:before {
  content: "\f28c";
}
.az-stop-circle:before {
  content: "\f28d";
}
.az-stop-circle-o:before {
  content: "\f28e";
}
.az-shopping-bag:before {
  content: "\f290";
}
.az-shopping-basket:before {
  content: "\f291";
}
.az-hashtag:before {
  content: "\f292";
}
.az-bluetooth:before {
  content: "\f293";
}
.az-bluetooth-b:before {
  content: "\f294";
}
.az-percent:before {
  content: "\f295";
}
.az-gitlab:before {
  content: "\f296";
}
.az-wpbeginner:before {
  content: "\f297";
}
.az-wpforms:before {
  content: "\f298";
}
.az-envira:before {
  content: "\f299";
}
.az-universal-access:before {
  content: "\f29a";
}
.az-wheelchair-alt:before {
  content: "\f29b";
}
.az-question-circle-o:before {
  content: "\f29c";
}
.az-blind:before {
  content: "\f29d";
}
.az-audio-description:before {
  content: "\f29e";
}
.az-volume-control-phone:before {
  content: "\f2a0";
}
.az-braille:before {
  content: "\f2a1";
}
.az-assistive-listening-systems:before {
  content: "\f2a2";
}
.az-american-sign-language-interpreting:before {
  content: "\f2a3";
}
.az-asl-interpreting:before {
  content: "\f2a3";
}
.az-deaf:before {
  content: "\f2a4";
}
.az-deafness:before {
  content: "\f2a4";
}
.az-hard-of-hearing:before {
  content: "\f2a4";
}
.az-glide:before {
  content: "\f2a5";
}
.az-glide-g:before {
  content: "\f2a6";
}
.az-sign-language:before {
  content: "\f2a7";
}
.az-signing:before {
  content: "\f2a7";
}
.az-low-vision:before {
  content: "\f2a8";
}
.az-viadeo:before {
  content: "\f2a9";
}
.az-viadeo-square:before {
  content: "\f2aa";
}
.az-snapchat:before {
  content: "\f2ab";
}
.az-snapchat-ghost:before {
  content: "\f2ac";
}
.az-snapchat-square:before {
  content: "\f2ad";
}
.az-pied-piper:before {
  content: "\f2ae";
}
.az-first-order:before {
  content: "\f2b0";
}
.az-yoast:before {
  content: "\f2b1";
}
.az-themeisle:before {
  content: "\f2b2";
}
.az-google-plus-circle:before {
  content: "\f2b3";
}
.az-google-plus-official:before {
  content: "\f2b3";
}
.az-fa:before {
  content: "\f2b4";
}
.az-font-awesome:before {
  content: "\f2b4";
}
.az-handshake-o:before {
  content: "\f2b5";
}
.az-envelope-open:before {
  content: "\f2b6";
}
.az-envelope-open-o:before {
  content: "\f2b7";
}
.az-linode:before {
  content: "\f2b8";
}
.az-address-book:before {
  content: "\f2b9";
}
.az-address-book-o:before {
  content: "\f2ba";
}
.az-address-card:before {
  content: "\f2bb";
}
.az-vcard:before {
  content: "\f2bb";
}
.az-address-card-o:before {
  content: "\f2bc";
}
.az-vcard-o:before {
  content: "\f2bc";
}
.az-user-circle:before {
  content: "\f2bd";
}
.az-user-circle-o:before {
  content: "\f2be";
}
.az-user-o:before {
  content: "\f2c0";
}
.az-id-badge:before {
  content: "\f2c1";
}
.az-drivers-license:before {
  content: "\f2c2";
}
.az-id-card:before {
  content: "\f2c2";
}
.az-drivers-license-o:before {
  content: "\f2c3";
}
.az-id-card-o:before {
  content: "\f2c3";
}
.az-quora:before {
  content: "\f2c4";
}
.az-free-code-camp:before {
  content: "\f2c5";
}
.az-telegram:before {
  content: "\f2c6";
}
.az-thermometer:before {
  content: "\f2c7";
}
.az-thermometer-4:before {
  content: "\f2c7";
}
.az-thermometer-full:before {
  content: "\f2c7";
}
.az-thermometer-3:before {
  content: "\f2c8";
}
.az-thermometer-three-quarters:before {
  content: "\f2c8";
}
.az-thermometer-2:before {
  content: "\f2c9";
}
.az-thermometer-half:before {
  content: "\f2c9";
}
.az-thermometer-1:before {
  content: "\f2ca";
}
.az-thermometer-quarter:before {
  content: "\f2ca";
}
.az-thermometer-0:before {
  content: "\f2cb";
}
.az-thermometer-empty:before {
  content: "\f2cb";
}
.az-shower:before {
  content: "\f2cc";
}
.az-bath:before {
  content: "\f2cd";
}
.az-bathtub:before {
  content: "\f2cd";
}
.az-s15:before {
  content: "\f2cd";
}
.az-podcast:before {
  content: "\f2ce";
}
.az-window-maximize:before {
  content: "\f2d0";
}
.az-window-minimize:before {
  content: "\f2d1";
}
.az-window-restore:before {
  content: "\f2d2";
}
.az-times-rectangle:before {
  content: "\f2d3";
}
.az-window-close:before {
  content: "\f2d3";
}
.az-times-rectangle-o:before {
  content: "\f2d4";
}
.az-window-close-o:before {
  content: "\f2d4";
}
.az-bandcamp:before {
  content: "\f2d5";
}
.az-grav:before {
  content: "\f2d6";
}
.az-etsy:before {
  content: "\f2d7";
}
.az-imdb:before {
  content: "\f2d8";
}
.az-ravelry:before {
  content: "\f2d9";
}
.az-eercast:before {
  content: "\f2da";
}
.az-microchip:before {
  content: "\f2db";
}
.az-snowflake-o:before {
  content: "\f2dc";
}
.az-superpowers:before {
  content: "\f2dd";
}
.az-wpexplorer:before {
  content: "\f2de";
}
.az-meetup:before {
  content: "\f2e0";
}
